<style>
	@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap');
</style>

<div
	style="width: 100%; height: 100%;background-color: #f0f0f1;display: flex;align-items:center;justify-content: center;font-family: 'PT Serif', serif;">
	<div style="padding: 46px 36px 132px;
    width: 90%;
    margin: 0 auto;
    text-align: center;">
		<div>
			<div>
				<p style="font-family:Arial,sans-serif;font-weight: 600;" class="brush-stroked-content">About Us</p>
				<h1 style="font-size: 56px;font-family: 'PT Serif', serif;">At U-CMS, our mission is to democratize publishing and eCommerce
					one&nbsp;website&nbsp;at&nbsp;a&nbsp;time.</h1>
			</div>
			<div>
				<p style="width: 60%;margin: 0 auto;font-family: 'PT Serif', serif;">We’re a hosted version of the open source software, <a href="#"
						target="_blank" rel="noreferrer noopener">U-CMS</a>. Because when you have the freedom to
					create, express yourself, and earn money online, the&nbsp;impossible becomes business as usual.</p>
			</div>
		</div>
	</div>
</div>

<!-- second blue section -->

<div class="wcms__about-content" style="color: white; height: 100%;font-family: 'PT Serif', serif;
display: flex;flex-direction: column; justify-content: space-evenly;">
	<div>
		<div class="lp-section__background-layer"></div>
	</div>
	<div style="padding: 30px 70px;">
		<div>
			<h2 style="font-size: 16px;font-weight:600;font-family: Arial, Helvetica, sans-serif;">What We Believe</h2>
			<h3 style="font-family: 'PT Serif', serif;">Anyone can have an idea. We want you to have the power and&nbsp;support to&nbsp;get it online.</h3>
			<span></span>
		</div>
		<div>
			<div style="display: flex;flex-direction: column;">
				<div>
					<div style="margin: 25px 0px;">
						<span style="max-width:246px">
							<span class="lp-lazy-image__content" style="padding-top:calc(60/246*100%);">
								<img src="https://assets.a8c.now.sh/static/about/logos-better-web.svg" loading="lazy"
									alt="" role="presentation" width="246" height="60">
							</span>
						</span>
					</div>
				</div>
				<h4 style="font-family: Arial, Helvetica, sans-serif; font-size: 16px;font-weight: 600;margin: 15px 0 10px;">
					Better products for a better web.
				</h4>
				<p style="font-family: Arial, Helvetica, sans-serif; font-size: 18px;">We’re trying to create a better
					web. An internet you can feel good about using. A place where people and ideas come together freely
					and openly.</p>
			</div>
		</div>
	</div>
	<!-- third section -->

	<div style="background-color: #101517;display: flex;padding: 20px;border-top: 1px solid white;border-bottom: 1px solid white;padding-bottom: 20px;
    margin-bottom: 0px;">
		<div style="display: flex;justify-content: center;align-items: center;flex-direction: column;">
			<div>
				<div>
					<span style="max-width:48px">
						<span style="padding-top:100%">
							<img
								src="https://assets.a8c.now.sh/static/gridicons-white/multiple-users.svg" loading="lazy"
								alt="" role="presentation" width="48" height="48">
						</span>
					</span>
				</div>
			</div>
			<p style="font-family: 'PT Serif', serif;">409M</p>
			<p style="text-align: center;font-family: 'PT Serif', serif;"><strong>Unique visitors</strong> each&nbsp;month</p>
		</div>
		<div style="display: flex;justify-content: center;align-items: center;flex-direction: column;">
			<div>
				<div class="lp-image__content">
					<span class="lp-lazy-image" style="max-width:48px">
						<span class="lp-lazy-image__content" style="padding-top:100%">
							<img src="https://assets.a8c.now.sh/static/gridicons-white/domains.svg" loading="lazy" alt="" role="presentation" width="48" height="48">
						</span>
					</span>
				</div>
			</div>
			<p style="font-family: 'PT Serif', serif;">20B</p>
			<p style="text-align: center;font-family: 'PT Serif', serif;"><strong>Page views</strong> each&nbsp;month</p>
		</div>
		<div style="display: flex;justify-content: center;align-items: center;flex-direction: column;">
			<div>
				<div class="lp-image__content">
					<span class="lp-lazy-image" style="max-width:48px">
						<span class="lp-lazy-image__content" style="padding-top:100%">
							<img src="https://assets.a8c.now.sh/static/gridicons-white/posts.svg" loading="lazy" alt=""
								role="presentation" width="48" height="48">
						</span>
					</span>
				</div>
			</div>
			<p style="font-family: 'PT Serif', serif;">70M</p>
			<p style="text-align: center;font-family: 'PT Serif', serif;"><strong>New posts</strong> each&nbsp;month</p>
		</div>
		<div style="display: flex;justify-content: center;align-items: center;flex-direction: column;">
			<div style="display: flex;justify-content: center;align-items: center;flex-direction: column;">
				<div class="lp-image__content">
					<span class="lp-lazy-image" style="max-width:48px">
						<span class="lp-lazy-image__content" style="padding-top:100%">
							<img src="https://assets.a8c.now.sh/static/gridicons-white/chat.svg" loading="lazy" alt=""
								role="presentation" width="48" height="48">
						</span>
					</span>
				</div>
			</div>
			<p style="font-family: 'PT Serif', serif;">77M</p>
			<p style="text-align: center;font-family: 'PT Serif', serif;"><strong>New comments</strong> each&nbsp;month</p>
		</div>
	</div>

	<!-- fourth section -->
	<div style="text-align: center;">
		<div>
			<div style="margin: 15px 0px;">
				<span style="max-width:48px">
					<span style="padding-top:100%">
						<img src="https://assets.a8c.now.sh/static/gridicons-white/institution.svg" loading="lazy"
							alt="" role="presentation" width="38" height="38">
					</span>
				</span>
			</div>
		</div>
		<h4 style="font-family: 'PT Serif', serif;">Freedom and ownership.</h4>
		<p style="font-size: 16px;font-family: 'PT Serif', serif;">Whether it’s a blog, store, portfolio, or something entirely different, you have the
			freedom to create
	</div>
</div>