<div class="ejs-inner-container">
	<div class="center-wr" style="background-color: #f5f7f7;">
		<div class="login-page-container">
			<div class="login-form-wr">
				
				<div class="login-form-container">
					<figure>
						<img src="/static/icons8-login-64.png" width="64" alt="Sign In">
						<figcaption>Your Branding</figcaption>
					</figure>
					<div class="login-heading-wr">
						<h3>Forgot Password</h3>
						<p>verify your email while we get things running</p>
					</div>
			
					<form action="/api/v1/manage/auth/verify-otp" method="POST">
						<div class="forgot-pwd-input">
							<input 
							required
							type="text"
							id="email"
							name="email" value="" placeholder="Email">
						</div>
						<button type="submit" class="button-main button-main-md login-submit-btn">Send OTP</button>
					</form>
					<p class="login-additional-p"><span>or</span></p>
					<button class="button-secondary signup" >Sign in</button>
				</div>
			</div>
		</div>
	</div>
</div>
