<div class="ejs-inner-container" >
	<div class="center-wr" class="primary-bg-color">
		<div class="login-page-container">
			<div class="login-form-wr">
				
				<div class="login-form-container">
					<figure>
						<img src="/static/logo-updated.png"  alt="Sign In">
					</figure>
					<h1>Start your CMS journey in style.</h1>
					<div class="login-heading-wr">
						<h3>Sign In</h3>
						<p>Start managing your website.</p>
					</div>
					<div class="login-error-msg-wr">
						<% if(message[0]?.success == false) { %>
							<p><%= message[0]?.message %></p>
						<% } %>
					</div>
					<form  action="/api/v1/manage/auth/admin-login" method="POST">
						<div class="login-email-container">
							<input
							required
							type="text"
							id="email"
							name="email" value="" placeholder="Email">
						</div>
						<div class="password-wr">
							<input class="login-pswd-input"
							required
							type="password"
							id="password"
							name="password" value="" placeholder="Password">
							<p onclick="togglePasswordViewState(this)">show</p>
						</div>
						<a class="forgot-pwd-wr" href="/api/v1/manage/auth/forgot-password">Forgot password</a>
						<button type="submit" class="button-main button-main-md login-submit-btn" style="background-color: #2271b1;" >Sign In</button>
					</form>
					<p class="login-additional-p"><span>or</span></p>
					<button class="button-secondary signup">Sign Up</button>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	function togglePasswordViewState(toggleElement) {
		const parent = toggleElement.closest(".password-wr");
		const input = parent.querySelector("input");
		if(toggleElement.textContent == 'show'){
			input.type = 'text'
			toggleElement.textContent = 'hide'
		} else if (toggleElement.textContent == 'hide'){
			input.type = 'password'
			toggleElement.textContent = 'show'
		}
	}
</script>