<div style="width: 100%; height: 100%;background-color: #f0f0f1;display: flex;align-items:flex-start;justify-content: space-between;position: relative; padding-bottom: 100px;">

	<form action="/api/v1/manage/add-new-provider" enctype="multipart/form-data" method="POST" style="width: 36%;padding: 15px;display: flex;flex-direction: column;height: 93vh;overflow-y: scroll;">
		<h1 style="font-size: 18px;font-weight: 500;">
			Add New Provider
		</h1>
			<label class="mt-3" for="" style="text-transform: capitalize;margin-bottom: 5px;" >Provider Type:</label>
                        <select class="form-control" style="border: 1px solid rgba(0,0,0,0.2);" id="providerType" name="providerType" >
				<option value="portal">Portal</option>
				<option value="paper">Paper</option>
			</select>

			<label class="mt-3" for="" style="text-transform: capitalize;margin-bottom: 5px;" >First Name:</label>
			<input type="text" class="form-control" style="border: 1px solid rgba(0,0,0,0.2);" id="firstName" name="firstName" >

			<label class="mt-3" for="" style="text-transform: capitalize;margin-bottom: 5px;" >Middle Name:</label>
			<input type="text" class="form-control" style="border: 1px solid rgba(0,0,0,0.2);" id="mi" name="mi" >
			
			<label class="mt-3" for="" style="text-transform: capitalize;margin-bottom: 5px;" >Last Name:</label>
			<input type="text" class="form-control" style="border: 1px solid rgba(0,0,0,0.2);" id="lastName" name="lastName" >
			
			<label class="mt-3" for="" style="text-transform: capitalize;margin-bottom: 5px;" >Email:</label>
			<input type="text" class="form-control" style="border: 1px solid rgba(0,0,0,0.2);" id="email" name="email" >
			<span style="color: rgba(0,0,0,0.7);font-size: 13px;font-weight: 500;">The email must be unique.</span>

			<label class="mt-3" for="" style="text-transform: capitalize;margin-bottom: 5px;" >D.o.B:</label>
			<input type="date" class="form-control" style="border: 1px solid rgba(0,0,0,0.2);padding: 16px;" id="dob" name="dob" >

			<label class="mt-2" for="" style="text-transform: capitalize;margin-bottom: 5px;" >Phone:</label>
			<input type="text" pattern="[\d\s\+\-\(\)]*" oninput="this.value = this.value.replace(/[^0-9\s\+\-\(\)]/g, '');" class="form-control" style="border: 1px solid rgba(0,0,0,0.2);" id="phone" name="phone" >

			<label class="mt-3" for="" style="text-transform: capitalize;margin-bottom: 5px;" >Address 1:</label>
			<input type="text" class="form-control" style="border: 1px solid rgba(0,0,0,0.2);" id="address1" name="address1" >

			<label class="mt-3" for="" style="text-transform: capitalize;margin-bottom: 5px;" >Address 2:</label>
			<input type="text" class="form-control" style="border: 1px solid rgba(0,0,0,0.2);" id="address2" name="address2" >

			<label class="mt-3" for="" style="text-transform: capitalize;margin-bottom: 5px;" >City:</label>
			<input type="text" class="form-control" style="border: 1px solid rgba(0,0,0,0.2);" id="city" name="city" >

			<label class="mt-3" for="" style="text-transform: capitalize;margin-bottom: 5px;" >State:</label>
			<input type="text" class="form-control" style="border: 1px solid rgba(0,0,0,0.2);" id="state" name="state" >

			<label class="mt-3" for="" style="text-transform: capitalize;margin-bottom: 5px;" >ZIP Code:</label>
			<input type="text" class="form-control" style="border: 1px solid rgba(0,0,0,0.2);" id="zip" name="zip" >
			
			<label class="mt-3" for="" style="text-transform: capitalize;margin-bottom: 5px;" >NPI Number:</label>
			<input type="text" class="form-control" style="border: 1px solid rgba(0,0,0,0.2);" id="npi" name="npi" >

			<label class="mt-3" for="" style="text-transform: capitalize;margin-bottom: 5px;" >LIS Provider Id:</label>
			<input type="text" class="form-control" style="border: 1px solid rgba(0,0,0,0.2);" id="lisProviderId" name="lisProviderId" >

			<label class="mt-3" for="" style="text-transform: capitalize;margin-bottom: 5px;" >Result Contact Email:</label>
			<input type="text" class="form-control" style="border: 1px solid rgba(0,0,0,0.2);" id="resultContactEmail" name="resultContactEmail" >

			<button class="button-main button-main-md" type="submit" style="border-radius: 2px;margin-top: 10px;">Add Provider</button>
			
	</form>
</div>

<script>
	function generateproductId() {
			
			const postTypeName = document.getElementById("reviewerName").value;
			const slugElement = document.getElementById("productId");
			if(!postTypeName) return slugElement.value ="";
			const dt = new Date();
			const mil = "__"+dt.getTime();
			const slug = "crp__"+postTypeName.toLowerCase()?.split(" ").join("")+mil;
			slugElement.value = slug;
	}

	// JavaScript state management for real-time updates
	document.getElementById('reviewerName').addEventListener('input', function(event) {
			document.getElementById('couponCodePlaceholder').innerText = event.target.value;
	});
	document.getElementById('reviewContent').addEventListener('input', function(event) {
			document.getElementById('reviewContentPlaceholder').innerText = event.target.value;
	});

	document.getElementById('reviewContent').addEventListener('input', function(event) {
			document.getElementById('reviewContentPlaceholderSecond').innerText = event.target.value;
	});

	var swiper = new Swiper(".mySwiper", {
		spaceBetween: 20,
		slidesPerView: 2,
		loop: true,
		navigation: {
			nextEl: ".swiper-button-next",
			prevEl: ".swiper-button-prev",
		},

	});

	function closeMessage(buttonElement) {
                const container = buttonElement.closest(".msg");
                container.style.display = 'none';
                const parent = buttonElement.closest(".msg-container");
                const children = parent.querySelectorAll(".msg");
                var visibleCount = 0;
                for(var i=0; i<children.length; i++){
                        if(window.getComputedStyle(children[i]).display !== none){
                                visibleCount++;
                        }
                }
                if(visibleCount === 0){
                        parent.style.display = 'none'
                }
        }

</script>
