<div style="width: 100%; height: 100%;background-color: #f0f0f1;display: flex;align-items: start;justify-content: start;flex-direction: column;margin-left: -3px;">
    <div class="af-sp-announcement" style="width: 100%;">
		<div style="padding: 11px 0; text-align: center;color: #fff;" class="wcms__support-top-bar">
			<a style="color: #fff;" href="#">
			W-CMS Announcement Regarding Custom Field Documentation
			</a>
		</div>
    </div>
    <div class="main-inner" style="width: 100%;">
       <div class="banner-content">
          <div aria-labelledby="banner-titleword" class="top-wrapper wcms__support-banner">
             <div class="banner-shadow">
                <div style="text-align: center;color: #fff;position: absolute;top: 32%;left: 0;right: 0;">
                   <div class="welcome" style="font-size: 17px;">Welcome to U-CMS Support</div>
                   <div style="font-size: 42px;">Search for the solution</div>
                </div>
             </div>
          </div>
          <div class="bottom-wrapper">
             <ul class="support-service">
                <li>
                   <div role="link" tabindex="0" class="service-block">
                      <span data-v-7e38bc32="" class="svg-image service-icon">
                         <svg width="64" height="64" viewBox="0 0 64 64" xmlns="https://www.w3.org/2000/svg" v-bind:svg-inline="''" v-bind:src="'@svg/icon-troubleshooting.svg'" v-bind:role="'presentation'" v-bind:focusable="'false'">
                            <path d="M52.385 43.744h-2.258l-.005-.001H38.183a11.174 11.174 0 004.552-6.026h10.416v5.26a.767.767 0 01-.766.767zm-3.263 9.269a.767.767 0 01-.766.766H37.843v-8.084c.08.02.157.049.244.049h11.035v7.269zm-34.109 0v-7.27h11.295v8.036H15.78a.768.768 0 01-.767-.766zM11 42.978v-5.261h10.105c.103 0 .197-.03.291-.06a11.176 11.176 0 004.571 6.087H14.018l-.005-.001h-2.247a.766.766 0 01-.766-.765zm25.731-.088a.75.75 0 00-.388.657v10.232h-8.535V43.548a.75.75 0 00-.389-.658 9.698 9.698 0 01-5.03-8.496 9.614 9.614 0 015.262-8.61l.87 8.685a.75.75 0 00.745.675h5.62a.75.75 0 00.745-.675l.87-8.684a9.613 9.613 0 015.26 8.609 9.694 9.694 0 01-5.03 8.496zM15.298 19.655h33.555a4.303 4.303 0 014.298 4.298v11.764h-9.976c.051-.437.086-.877.086-1.323 0-4.641-2.799-8.73-7.132-10.418a.745.745 0 00-.664.06.747.747 0 00-.354.564l-.905 9.044h-4.26L29.04 24.6a.747.747 0 00-.354-.564.745.745 0 00-.664-.06c-4.333 1.688-7.133 5.777-7.133 10.418 0 .446.035.886.087 1.323H11V23.953a4.303 4.303 0 014.298-4.298zm7.588-5.175c0-.91.74-1.65 1.65-1.65h.915a2.807 2.807 0 002.611 1.789h8.027A2.808 2.808 0 0038.7 12.83h.915c.91 0 1.65.74 1.65 1.649v3.175H22.885V14.48zm25.967 3.175h-5.589V14.48a3.653 3.653 0 00-3.649-3.65h-.902A2.807 2.807 0 0036.09 9h-8.027a2.807 2.807 0 00-2.624 1.83h-.903a3.653 3.653 0 00-3.649 3.65v3.175h-5.588A6.305 6.305 0 009 23.953v19.025a2.769 2.769 0 002.766 2.766h1.247v7.269a2.77 2.77 0 002.767 2.766h32.576a2.77 2.77 0 002.766-2.766v-7.27h1.263a2.77 2.77 0 002.766-2.765V23.953a6.305 6.305 0 00-6.298-6.298z" fill="#181818" fill-rule="evenodd"></path>
                         </svg>
                      </span>
                      <p>Technical Support</p>
                   </div>
                </li>
                <li>
                   <div role="link" tabindex="0" class="service-block">
                      <span data-v-7e38bc32="" class="svg-image service-icon">
                         <svg width="64" height="64" viewBox="0 0 64 64" xmlns="https://www.w3.org/2000/svg" v-bind:svg-inline="''" v-bind:src="'@svg/icon-query-service.svg'" v-bind:role="'presentation'" v-bind:focusable="'false'">
                            <path d="M35.702 8a3.507 3.507 0 013.503 3.503v2.755h13.186a3.508 3.508 0 013.503 3.503v27.744c0 .25-.03.494-.08.732a.973.973 0 01-.229.995l-.56.56c-.054.062-.097.13-.156.189l-6.879 6.885c-.069.07-.15.122-.224.185l-.526.526a.973.973 0 01-.69.286c-.095 0-.19-.028-.283-.056a3.566 3.566 0 01-.755.087h-17.32a3.507 3.507 0 01-3.503-3.503v-2.755H11.503A3.507 3.507 0 018 46.132V11.503A3.506 3.506 0 0111.503 8zm16.69 8.258h-24.2c-.829 0-1.503.674-1.503 1.503v34.63c0 .829.674 1.503 1.503 1.503h17.32c.021 0 .041-.005.061-.006v-7.347c0-.539.438-.976.977-.976h7.338c.001-.02.006-.04.006-.06V17.761c0-.829-.674-1.503-1.503-1.503zM35.701 10H11.503c-.829 0-1.503.674-1.503 1.503v34.629c0 .829.674 1.504 1.503 1.504H24.69v-8.431h-7.345a1 1 0 010-2h7.345v-4.258h-7.345a1 1 0 010-2h7.345v-4.259h-7.345a1 1 0 110-2h7.345V20.43h-7.345a1 1 0 010-2h7.345v-.669a3.507 3.507 0 013.503-3.503h9.013v-2.755c0-.829-.674-1.503-1.503-1.503zm3.736 14.686c1.939 0 3.762.756 5.133 2.127a7.212 7.212 0 012.126 5.133 7.2 7.2 0 01-1.473 4.37l2.887 2.887a.999.999 0 11-1.414 1.415l-2.888-2.888a7.235 7.235 0 01-4.371 1.47 7.237 7.237 0 01-5.132-2.122c-2.83-2.83-2.83-7.436 0-10.266a7.211 7.211 0 015.132-2.126zm0 2a5.225 5.225 0 00-3.718 1.54 5.265 5.265 0 000 7.438 5.265 5.265 0 007.437 0 5.225 5.225 0 001.54-3.719 5.227 5.227 0 00-1.54-3.718 5.227 5.227 0 00-3.72-1.54z" fill="#181818" fill-rule="evenodd"></path>
                         </svg>
                      </span>
                      <p>Inquiry service</p>
                   </div>
                </li>
                <li>
                   <div role="link" tabindex="0" class="service-block">
                      <span data-v-7e38bc32="" class="svg-image service-icon">
                         <svg xmlns="https://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 64 64" v-bind:svg-inline="''" v-bind:src="'@svg/icon-pre-sales.svg'" v-bind:role="'presentation'" v-bind:focusable="'false'">
                            <path d="M32.454 9c8.691 0 14.158 2.939 17.213 5.406 3.967 3.2 6.241 7.547 6.241 11.924 0 6.02-2.585 11.065-7.125 14.5l.875 12.258a2.643 2.643 0 01-.699 1.982 2.64 2.64 0 01-1.927.839H17.88c-.729 0-1.43-.306-1.927-.839a2.644 2.644 0 01-.699-1.983l.876-12.264C11.586 37.386 9 32.343 9 26.33c0-7.834 6.568-14.508 16.344-16.607C27.577 9.243 29.97 9 32.454 9zM18.042 42.105l-.794 11.126a.627.627 0 00.168.476c.07.075.223.202.463.202h29.153c.24 0 .393-.127.463-.202a.627.627 0 00.168-.476l-.794-11.12c-.609.361-1.25.693-1.914 1.003l-.14.064c-.609.28-1.238.537-1.888.773-.088.032-.175.065-.264.096-.606.213-1.23.405-1.873.579-.12.032-.237.07-.358.101-.718.184-1.452.348-2.21.481l-.048.01-5.069 4.327a.992.992 0 01-.65.239.996.996 0 01-.65-.239c-3.397-2.899-4.62-3.944-5.068-4.327a29.43 29.43 0 01-2.31-.508c-.046-.012-.09-.026-.136-.039-2.313-.61-4.406-1.474-6.249-2.566zm27.18-15.025H19.685c-.46 0-.848.36-.88.82l-.839 11.736c1.844 1.282 4.012 2.288 6.388 2.974a28.568 28.568 0 001.407.366c.505.113 1.016.22 1.543.309l.036.007c.18.029.348.108.487.226l4.628 3.95 4.628-3.95a.998.998 0 01.487-.226 29.782 29.782 0 002.396-.512c.172-.043.341-.09.51-.137 2.415-.68 4.61-1.683 6.47-2.959L46.102 27.9a.886.886 0 00-.88-.82zM32.454 11c-2.344 0-4.595.228-6.69.678C15.565 13.869 11 20.615 11 26.33c0 4.959 1.994 9.188 5.54 12.233l.77-10.769a2.389 2.389 0 012.375-2.214h3.892c.383-4.565 4.215-8.165 8.877-8.165 4.663 0 8.494 3.6 8.877 8.165h3.891a2.39 2.39 0 012.377 2.214l.776 10.856c3.565-3.023 5.533-7.252 5.533-12.32C53.908 16.734 43 11 32.454 11zm0 21.823a1.672 1.672 0 110 3.344 1.672 1.672 0 010-3.344zm-6.254 0a1.672 1.672 0 110 3.344 1.672 1.672 0 010-3.344zm12.509 0a1.673 1.673 0 11-.001 3.345 1.673 1.673 0 01.001-3.345zm-6.255-13.908c-3.835 0-7 2.927-7.377 6.665h14.754c-.377-3.738-3.54-6.665-7.377-6.665z" fill="#181818" fill-rule="evenodd"></path>
                         </svg>
                      </span>
                      <p>Sales &amp; Event</p>
                   </div>
                </li>
                <li>
                   <div role="link" tabindex="0" class="service-block">
                      <span data-v-7e38bc32="" class="svg-image service-icon">
                         <svg xmlns="https://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 64 64" v-bind:svg-inline="''" v-bind:src="'@svg/icon-download-center.svg'" v-bind:role="'presentation'" v-bind:focusable="'false'">
                            <path d="M16.983 40.93a1 1 0 010 2h-6.158a.826.826 0 00-.825.825v9.122c0 .957.78 1.737 1.737 1.737h40.139a1.74 1.74 0 001.737-1.737v-9.122a.826.826 0 00-.824-.825H46.63a1 1 0 010-2h6.158a2.828 2.828 0 012.824 2.825v9.122a3.741 3.741 0 01-3.737 3.737H11.736A3.742 3.742 0 018 52.877v-9.122a2.828 2.828 0 012.825-2.825zm31.01 8.11a.749.749 0 110 1.5H15.62a.75.75 0 010-1.5zM36.539 9c1.086 0 1.97.884 1.97 1.97v18.557h9.355l-6.696 6.863-8.645 8.859-.715.733-.716-.733-10.175-10.427-5.166-5.295h9.355V10.97c0-1.087.884-1.971 1.97-1.971zm-.03 2h-9.433l.03 19.527-.001.007.001.993h-6.609l11.311 11.592 11.31-11.592h-6.609V11z" fill="#181818" fill-rule="evenodd"></path>
                         </svg>
                      </span>
                      <p>Download Center</p>
                   </div>
                </li>
             </ul>
             <div class="banner-case-text"><span class="check-case-text">Need to check the previous case?</span> <span style="color: #2271B1;">
                Check your case
                </span>
             </div>
             <div id="Search-Bar" class="search-block">
                <div class="search-content">
                   <div role="search" class="search-input">
                      <input placeholder="Search Support" autocomplete="Off" maxlength="200" aria-label="search text"> 
                      <button aria-label="Search Support" type="button" class="search-icon">
                         <svg xmlns="https://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" svg-inline="" src="@svg/icon-search.svg" role="presentation" focusable="false">
                            <path d="M7.5 2a5.5 5.5 0 11-.001 11.001A5.5 5.5 0 017.5 2zM12 12l3 3" stroke="#181818" stroke-width="1.2" fill="none" fill-rule="evenodd"></path>
                         </svg>
                      </button>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>